@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  color: #303841;
  background-color: #EEEEEE;
  text-align: center;
}

h1, h2 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #FF5722;
}

h1 {
  line-height: 50px;
}

#profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

a {
  color: #00ADB5;
  text-decoration: none;
}

a:hover {
  display: block;
  font-weight: bold;
  color: #FF5722;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 30px;
  margin: 10px auto;
  border: 1px solid lightgray;
}

#btn-green {
  display: inline-block;
  background-color: #00ADB5;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}

#btn-green:hover {
  display: inline-block;
  font-weight: bold;
  background-color: black;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 30px;
}

.list-inline > li > a {
  color: grey;
}

.list-inline > li > a:hover {
  color: black;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
